@using MaksimShimshon.GameManagePanel.Features.LinuxGameServer.Web.Components.ViewModels
@inherits WidgetComponentBase<PluginEntry, ISetupProcessViewModel>
@if (!ViewModel.InstallState.IsInstallationCompleted)
{
    <MudGrid>
        <MudItem xs=12>
            <MudText Typo=@Typo.h6>@("Setup System")</MudText>
            <MudText Typo=@Typo.caption>@ViewModel.LastUpdate.ToString()</MudText>
            <MudButton OnClick=@(() => { Console.WriteLine("Force Rerender");
                InvokeAsync(StateHasChanged);})>Force ReRender</MudButton>
            <MudButton OnClick=@(() => {
                
                Console.WriteLine("Rerender");
                ViewModel.UpdateTest();
            })>ReRender</MudButton>

            <MudDivider Class="my-2" />
        </MudItem>
        <MudItem>
            @if (ViewModel.IsLoading)
            {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    <MudAlert Severity="Severity.Info">
                        Loading Game Server Setup Information
                    </MudAlert>
            }else if (ViewModel.InstallState.InProgressInstallation != default && ViewModel.InstallState.InProgressInstallation.IsInstalling)
            {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    <MudAlert Severity="Severity.Info">
                        @ViewModel.InstallState.InProgressInstallation.CurrentStep
                    </MudAlert>
            }
            else if (ViewModel.InstallState.AvailableGameServers.Count > 0)
            {

                    <p>@ViewModel.InstallState.AvailableGameServers.First().Value</p>
                    <MudSelect @bind-Value=@ViewModel.KeyGame
                               Dense Variant=@Variant.Text
                               Label="Select Game Server"
                               Disabled=@ViewModel.IsLoading>
                        @foreach (var game in ViewModel.InstallState.AvailableGameServers)
                        {
                            <MudSelectItem Value=@game.Key>@game.Value</MudSelectItem>
                        }
                    </MudSelect>
                    <MudButton OnClick=ViewModel.InstallAsync>
                        Run Install
                    </MudButton>
            }
            else
            {
                    <MudAlert Severity="Severity.Error">
                        The server is misconfigured, it seems like the available game servers file has not been properly setup. It would be best to reinstall the panel.
                    </MudAlert>
            }
        </MudItem>
    </MudGrid>
}
